In [1]:
# %%
import pandas as pd
#import plotly.express as px
import matplotlib.pyplot as plt
import numpy as np
#import plotly.graph_objects as go
# 출력 제한 해제
# pd.set_option('display.max_columns',None)
# pd.set_option('display.max_rows',None)
# pd.set_option('display.max_seq_items', None)
# pd.options.display.max_colwidth = 100

import warnings
warnings.filterwarnings(action='ignore')

In [ ]:
model_dict = dict()

In [2]:
# %%
train = pd.read_csv('./data/train.csv')
test =  pd.read_csv('./data/test.csv')
trade = pd.read_csv('./data/international_trade.csv')

train.head()

,ID,timestamp,item,corporation,location,supply(kg),price(원/kg)
0,TG_A_J_20190101,2019-01-01,TG,A,J,0.0,0.0
1,TG_A_J_20190102,2019-01-02,TG,A,J,0.0,0.0
2,TG_A_J_20190103,2019-01-03,TG,A,J,60601.0,1728.0
3,TG_A_J_20190104,2019-01-04,TG,A,J,25000.0,1408.0
4,TG_A_J_20190105,2019-01-05,TG,A,J,32352.0,1250.0

In [3]:
item_dict = {
    '감귤' : 'TG',
    '꽃양배추와 브로콜리(broccoli)' : 'BC',
    '무' : 'RD',
    '당근' : 'CR',
    '양배추' : 'CB'
}

item_list = ['감귤', '꽃양배추와 브로콜리(broccoli)', '무', '당근', '양배추']
trade['item'] = [item_dict[e] if e in item_list else 'None' for e in trade['품목명']]

In [4]:
# %%
time = pd.to_datetime(train['timestamp'].copy())

train['Date'] = pd.to_datetime(train['timestamp'])
train['week'] = train['Date'].apply(lambda x: x.isocalendar()[1]) # 일요일 제거를 위함
train['day_name'] = train['Date'].dt.day_name()

train['year'] = train['timestamp'].apply(lambda x : int(x[0:4]))
train['month'] = train['timestamp'].apply(lambda x : int(x[5:7]))
train['day'] = train['timestamp'].apply(lambda x : int(x[8:10]))

trade['year'] = trade['기간'].apply(lambda x : int(x[0:4]))
trade['month'] = trade['기간'].apply(lambda x : int(x[5:7]))

In [5]:
result = train.groupby(['year', 'month', 'item'])['supply(kg)'].sum().reset_index()

In [6]:
r_trade = trade.merge(result, on=['year', 'month','item'], how='outer')
r_trade['전체 거래량'] = r_trade['수출 중량'] + r_trade['수입 중량']

trade_use_list = ['TG', 'BC']

In [13]:
m_train = train[train['item']=='BC'].merge(r_trade[r_trade['item']=='BC'], on=['year', 'month', 'item'], how='outer')
m_train = m_train.dropna(subset=['ID'])
m_train = m_train.fillna(0)

In [14]:
from sklearn.preprocessing import LabelEncoder
train_x = m_train.drop(columns=['ID', 'timestamp', 'supply(kg)_x', 'supply(kg)_y', 'price(원/kg)','Date'])
train_y = m_train['price(원/kg)']

In [15]:
qual_col = ['item', 'corporation', 'location','day_name']

train_x = pd.get_dummies(train_x, columns=qual_col, prefix=qual_col)

In [16]:
train_x = train_x.drop(columns=['기간','품목명'])
train_x = pd.concat([train_x, train_y], axis=1)

In [18]:
# import pycaret regression and init setup
from pycaret.regression import *

s = setup(train_x, target = 'price(원/kg)', 
        session_id = 123, 
        fold = 10, 
        normalize = True, 
        normalize_method = 'minmax', 
        train_size=0.8) ##nomalize에 robust, zscore 가능
# normalise를 robust, zscore로 하면 rmse 너무 높아짐 (1200 수준). minmax 가 680 수준
#fole 수나 train_size를 바꿔보자

# %%
best_model = compare_models()

In [ ]:
reg  = create_model('rf')

# for Test set

In [7]:
# %%
import datetime
import holidays

# %%
#train = train[(train['supply(kg)'] != 0) & (train['supply(kg)'] != 0)] # 이거차이도 큼!!! 거의 rmse 1200에서 680으로 줄어듦. 근데 이건 validation에만이고 test는 이거하면 정반대로됨 ㅠ...

# %%
#시계열 특성을 학습에 반영하기 위해 timestamp를 월, 일, 시간으로 나눕니다
test_re = test.copy()

test_re['year'] = test_re['timestamp'].apply(lambda x : int(x[0:4]))
test_re['month'] = test_re['timestamp'].apply(lambda x : int(x[5:7]))
test_re['day'] = test_re['timestamp'].apply(lambda x : int(x[8:10]))
test_re['Date'] = pd.to_datetime(test_re['timestamp'])
test_re['week'] = test_re['Date'].apply(lambda x: x.isocalendar()[1]) # 일요일 제거를 위함
test_re['day_name'] = test_re['Date'].dt.day_name()


# %%
test_re.head()

,ID,timestamp,item,corporation,location,year,month,day,Date,week,day_name
0,TG_A_J_20230304,2023-03-04,TG,A,J,2023,3,4,2023-03-04,9,Saturday
1,TG_A_J_20230305,2023-03-05,TG,A,J,2023,3,5,2023-03-05,9,Sunday
2,TG_A_J_20230306,2023-03-06,TG,A,J,2023,3,6,2023-03-06,10,Monday
3,TG_A_J_20230307,2023-03-07,TG,A,J,2023,3,7,2023-03-07,10,Tuesday
4,TG_A_J_20230308,2023-03-08,TG,A,J,2023,3,8,2023-03-08,10,Wednesday

In [8]:
m_test = test_re.merge(trade, on=['year', 'month', 'item'], how='outer')
m_test = m_test.dropna(subset=['ID'])
m_test = m_test.fillna(0)

In [9]:
m_test

,ID,timestamp,item,corporation,location,year,month,day,Date,week,day_name,기간,품목명,수출 중량,수출 금액,수입 중량,수입 금액,무역수지
0,TG_A_J_20230304,2023-03-04,TG,A,J,2023,3,4.0,2023-03-04,9.0,Saturday,0,0,0.0,0.0,0.0,0.0,0.0
1,TG_A_J_20230305,2023-03-05,TG,A,J,2023,3,5.0,2023-03-05,9.0,Sunday,0,0,0.0,0.0,0.0,0.0,0.0
2,TG_A_J_20230306,2023-03-06,TG,A,J,2023,3,6.0,2023-03-06,10.0,Monday,0,0,0.0,0.0,0.0,0.0,0.0
3,TG_A_J_20230307,2023-03-07,TG,A,J,2023,3,7.0,2023-03-07,10.0,Tuesday,0,0,0.0,0.0,0.0,0.0,0.0
4,TG_A_J_20230308,2023-03-08,TG,A,J,2023,3,8.0,2023-03-08,10.0,Wednesday,0,0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1087,BC_E_S_20230327,2023-03-27,BC,E,S,2023,3,27.0,2023-03-27,13.0,Monday,0,0,0.0,0.0,0.0,0.0,0.0
1088,BC_E_S_20230328,2023-03-28,BC,E,S,2023,3,28.0,2023-03-28,13.0,Tuesday,0,0,0.0,0.0,0.0,0.0,0.0
1089,BC_E_S_20230329,2023-03-29,BC,E,S,2023,3,29.0,2023-03-29,13.0,Wednesday,0,0,0.0,0.0,0.0,0.0,0.0
1090,BC_E_S_20230330,2023-03-30,BC,E,S,2023,3,30.0,2023-03-30,13.0,Thursday,0,0,0.0,0.0,0.0,0.0,0.0
1091,BC_E_S_20230331,2023-03-31,BC,E,S,2023,3,31.0,2023-03-31,13.0,Friday,0,0,0.0,0.0,0.0,0.0,0.0

In [10]:
# %%
from sklearn.preprocessing import LabelEncoder
train_x = m_train.drop(columns=['ID', 'timestamp', 'supply(kg)', 'price(원/kg)','Date'])
train_y = m_train['price(원/kg)']
test_x  = m_test.drop(columns=['ID', 'timestamp','Date'])

In [11]:
qual_col = ['item', 'corporation', 'location','day_name']

test_x  = pd.get_dummies(test_x, columns=qual_col, prefix=qual_col)
test_x  = test_x.drop(columns=['기간','품목명'])
# for i in qual_col:
#     le = LabelEncoder()
#     train_x[i]=le.fit_transform(train_x[i])
#     test_x[i]=le.transform(test_x[i]) #test 데이터에 대해서 fit하는 것은 data leakage에 해당합니다

In [12]:
test_x  = test_x.drop(columns=['기간','품목명'])

In [16]:
low_corr = ['week', 'day', 'year']

In [17]:
# train_x = train_x.drop(columns=low_corr)
# test_x = test_x.drop(columns=low_corr)

In [19]:
reg  = create_model('rf')

In [20]:
tuned_clf = tune_model(reg, optimize = 'R2')
predictions = predict_model(tuned_clf, data = test_x)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [25]:
result = pd.concat([test_re, predictions['prediction_label']], axis = 1)

result['answer'] = result['prediction_label'].copy()

del result['timestamp']
del result['item']
del result['corporation']
del result['location']
del result['year']
del result['month']
del result['day']
del result['Date']
del result['week']
del result['day_name']
del result['prediction_label']

In [26]:
926.9668

926.9668

In [27]:
for i in range(len(result)):
    if (i-1) % 7 == 0: # 1, 8, 15, 22
        result.iloc[i,-1] = 0

result.head(20)

                 ID   answer
0   TG_A_J_20230304  3579.63
1   TG_A_J_20230305     0.00
2   TG_A_J_20230306  3450.50
3   TG_A_J_20230307  3170.27
4   TG_A_J_20230308  3437.59
5   TG_A_J_20230309  3510.97
6   TG_A_J_20230310  3332.91
7   TG_A_J_20230311  3173.61
8   TG_A_J_20230312     0.00
9   TG_A_J_20230313  3305.44
10  TG_A_J_20230314  3045.95
11  TG_A_J_20230315  3048.41
12  TG_A_J_20230316  3482.76
13  TG_A_J_20230317  3873.10
14  TG_A_J_20230318  3036.05
15  TG_A_J_20230319     0.00
16  TG_A_J_20230320  5102.94
17  TG_A_J_20230321  5180.44
18  TG_A_J_20230322  5630.37
19  TG_A_J_20230323  5166.86

In [28]:
result.to_csv('result2_tuned.csv', index = False)